<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
   
    <!-- Title Page-->
    <title>Diamond CrytoTrading</title>

    <!-- Fontfaces CSS-->
    <link href="../../../assets/userAdmin/css/font-face.css" rel="stylesheet" media="all" />
    <link
      href="../../../assets/userAdmin/vendor/font-awesome-4.7/css/font-awesome.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="../../../assets/userAdmin/vendor/font-awesome-5/css/fontawesome-all.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="../../../assets/userAdmin/vendor/mdi-font/css/material-design-iconic-font.min.css"
      rel="stylesheet"
      media="all"
    />

    <!-- Bootstrap CSS-->
    <link
      href="../../../assets/userAdmin/vendor/bootstrap-4.1/bootstrap.min.css"
      rel="stylesheet"
      media="all"
    />

    <!-- Vendor CSS-->
    <link
      href="../../../assets/userAdmin/vendor/animsition/animsition.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="../../../assets/userAdmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css"
      rel="stylesheet"
      media="all"
    />
    <link href="../../../assets/userAdmin/vendor/wow/animate.css" rel="stylesheet" media="all" />
    <link
      href="../../../assets/userAdmin/vendor/css-hamburgers/hamburgers.min.css"
      rel="stylesheet"
      media="all"
    />
    <link href="../../../assets/userAdmin/vendor/slick/slick.css" rel="stylesheet" media="all" />
    <link href="../../../assets/userAdmin/vendor/select2/select2.min.css" rel="stylesheet" media="all" />
    <link
      href="../../../assets/userAdmin/vendor/perfect-scrollbar/perfect-scrollbar.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="../../../assets/userAdmin/vendor/vector-map/jqvmap.min.css"
      rel="stylesheet"
      media="all"
    />

    <!-- Main CSS-->
    <link href="../../../assets/userAdmin/css/theme.css" rel="stylesheet" media="all" />
    <style>
      .header-desktop2 {
        background: #393771;
      }
      .menu-sidebar2 .logo {
        background: #393771;
      }
      .statistic {
        padding-top: 57px;
        margin-top: 3%;
      }

      .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    margin: 5%;
}
.page-wrapper {
    overflow: hidden;
    background: #f2f2f2;
    padding-bottom: 40vh;
}
@media (max-width: 991px){
.page-wrapper {
    overflow: auto;
    background: #f2f2f2;
    padding-bottom: 12vh;
}
}
.header-desktop2 {
    background: #f2f2f2;
        height: 153px;

    border-bottom: 1px solid gainsboro;
}
.section__content--p30 {
    padding: 105px 30px;
}

.menu-sidebar2 .logo {
    background: #f2f2f2;
        height: 151px;

}

.header-button-item {
    font-size: 30px;
    color: #5193e2;
    margin-right: 34px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.statistic {
    padding-top: 57px;
    margin-top: 3%;
    background: #ffffff;
}
.page-wrapper {
    overflow: hidden;
    background: #ffffff;
    padding-bottom: 40vh;
}
.statistic {
    padding-top: 57px;
    margin-top: 3%;
    background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%) !important
}
.header-desktop2 {
    background: #ffffff;
    height: 153px;
    border-bottom: 1px solid white;
}
.page-wrapper {
    overflow: hidden;
    background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%) !important;
    padding-bottom: 40vh;
}
.header-desktop2 {
    background: #f2f2f2;
    height: 153px;
    border-bottom: 1px solid white;
}
.statistic {
    padding-top: 57px;
    margin-top: 3%;
    background: white  !important;
}
.page-wrapper {
    overflow: hidden;
    background:white  !important;
    padding-bottom: 40vh;
}

    </style>
  </head>

  <body class="animsition">
    <div class="page-wrapper">
      <!-- MENU SIDEBAR-->
      <aside class="menu-sidebar2">
        <div class="logo">
          <a href="/">
            <img src="../../../assets/img/diamond.png" style='width:35%' alt="logo" />
          </a>
        </div>
        <div class="menu-sidebar2__content js-scrollbar1">
          <div class="account2">
            <div class="image img-cir img-120">
              <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="John Doe" />
            </div>
            <h4 class="name"> Welcome User</h4>
          </div>
          <nav class="navbar-sidebar2">
            

           <button style='    background: #393771;
                    color: white;
                    padding: 5%;
                    margin: 1% 5% 10%;
                    width: 90%;
                    border-radius: 5px;
                    cursor:pointer
                    '>
                                <a style='    color: white;
                    font-size: 1.3rem;' href='/users/0000/admin/all_users'>All Users</a>
            </button>

            <button style='    background: #393771;
                    color: white;
                    padding: 5%;
                    margin: 1% 5% 10%;
                    width: 90%;
                    border-radius: 5px;
                    cursor:pointer
                    '>
                                <a style='    color: white;
                    font-size: 1.3rem;' href='/users/0000/admin/investedUsers'>Invested Users</a>
            </button>

            <button style='    background: #393771;
                    color: white;
                    padding: 5%;
                    margin: 1% 5% 10%;
                    width: 90%;
                    border-radius: 5px;
                    cursor:pointer
                    '>
                                <a style='    color: white;
                    font-size: 1.3rem;' href='/users/0000/admin/WantWithdrawal'>Want withdrawal</a>
            </button>

        


          


<a href="/users/logout" class="btn btn-secondary">Logout</a>
          </nav>
        </div>
      </aside>
      <!-- END MENU SIDEBAR-->

      <!-- PAGE CONTAINER-->
      <div class="page-container2">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop2">
          <div class="section__content section__content--p30">
            <div class="container-fluid">
              <div class="header-wrap2">
                <div class="logo d-block d-lg-none">
                  <a href="/">
            <img src="../../../assets/img/diamond.png" style='width:35%' alt="logo" />
                  </a>
                </div>
                <div class="header-button2">
                  <div class="header-button-item mr-0 js-sidebar-btn">
                    <i class="zmdi zmdi-menu"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
          <div class="logo">
            <a href="/">
              <img src="../../../assets/invest.png" alt="Cool Admin" />
            </a>
          </div>
          <div class="menu-sidebar2__content js-scrollbar2">
            <div class="account2">
              <div class="image img-cir img-120">
                <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="John Doe" />
              </div>
              <h4 class="name">Welcome User</h4>
            </div>
            <nav class="navbar-sidebar2">

            <button style='    background: #393771;
                    color: white;
                    padding: 5%;
                    margin: 1% 5% 10%;
                    width: 90%;
                    border-radius: 5px;
                    cursor:pointer
                    '>
                                <a style='    color: white;
                    font-size: 1.3rem;' href='users/0000/admin/all_users'>All Users</a>
            </button>

 <button style='    background: #393771;
                    color: white;
                    padding: 5%;
                    margin: 1% 5% 10%;
                    width: 90%;
                    border-radius: 5px;
                    cursor:pointer
                    '>
                                <a style='    color: white;
                    font-size: 1.3rem;' href='/users/0000/admin/investedUsers'>Invested Users</a>
            </button>

            <button style='    background: #393771;
                    color: white;
                    padding: 5%;
                    margin: 1% 5% 10%;
                    width: 90%;
                    border-radius: 5px;
                    cursor:pointer
                    '>
                                <a style='    color: white;
                    font-size: 1.3rem;' href='/users/0000/admin/WantWithdrawal'>Want withdrawal</a>
            </button>



            




           
<a href="/users/logout" class="btn btn-secondary">Logout</a>
                      
             </nav>
          </div>
        </aside>
        <!-- END HEADER DESKTOP-->

        <!-- STATISTIC-->
        <section class="statistic">
          <div class="section__content section__content--p30">
            <div class="container-fluid">
              <div class="row">
                
                <div class="col-md-6 col-lg-3">
                  <div class="statistic__item">
                    <h2 class="number"><%= user.length %></h2>

                    <span class="desc">Total Users</span>
                    <div class="icon">
                      <i class="zmdi zmdi-money"></i>
                    </div>
                  </div>

              

                </div>

                <h4 style='    margin: 5% 5% 10%;
                font-size: 1.9rem;'> Withdrawal Requests</h4>

                <div class="col-md-6 col-lg-3">


                <% if (user) { %>

                   <% user.map((user) =>{ %>
                                             <div class="statistic__item">

                   <h4 class="desc">Email : <%= user.email %></h4>
                   <h4 class="desc">Plan : <%= user.plan %></h4>     
                    <h4 class="desc">Amount : <%= user.amount%></h4>
                    <h4 class="desc">Payment Method: <%= user.method%></h4>
                    <h4 class="desc">Wallet Name: <%=user.walletName%></h4>
                    <h4 class="desc">Wallet Id: <%=user.walletId%></h4>

                    <div class="icon">
                    </div>
                  </div>


                    <% }) %>

               <% } %>
              
                
                </div>

              </div>
            </div>
          </div>
        </section>
        <!-- END STATISTIC-->
     


       
    </div>

    

    <!-- Jquery JS-->
    <script src="../../../assets/userAdmin/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../../../assets/userAdmin/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../../../assets/userAdmin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="../../../assets/userAdmin/vendor/slick/slick.min.js"></script>
    <script src="../../../assets/userAdmin/vendor/wow/wow.min.js"></script>
    <script src="../../../assets/userAdmin/vendor/animsition/animsition.min.js"></script>
    <script src="../../../assets/userAdmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="../../../assets/userAdmin/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="../../../assets/userAdmin/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="../../../assets/userAdmin/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../../../assets/userAdmin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../../assets/userAdmin/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../../../assets/userAdmin/vendor/select2/select2.min.js"></script>
    <script src="../../../assets/userAdmin/vendor/vector-map/jquery.vmap.js"></script>
    <script src="../../../assets/userAdmin/vendor/vector-map/jquery.vmap.min.js"></script>
    <script src="../../../assets/userAdmin/vendor/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="../../../assets/userAdmin/vendor/vector-map/jquery.vmap.world.js"></script>

    <!-- Main JS-->
    <script src="../../../assets/userAdmin/js/main.js"></script>

    <script>

         $(".change").change(function () {
         $(".product_image_label").html("Image uploaded successfully")
          productImageUpload()
        });

        function productImageUpload() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("F").files[0]);

        oFReader.onload = function (oFREvent) {
          document.getElementById("HF").value = oFREvent.target.result;

          // $('#imageP').attr('src', oFREvent.target.result)
          // i = $('#imageP').attr('src')

        };
      }

    </script>
  </body>
</html>
<!-- end document-->
